footer.footer.js-footer
	.container
		.row.justify-content-center
			.col-sm-7.col-xl-5.padding
				.map#map(style='width: 100%; height: 328px')
			.col-sm-5.col-xl-5
				.contact-wrap
					.contact
						h3.contact-title контакты
					.address
						.address__icon адрес
						.address__text Казань, ул. Серова 125, офис 324
					.phone-footer
						.phone-footer__icon телефон
						a(href="tel:8(999)9999999").phone-footer__link 8 (999) 999-99-99
					.contact__bottom
						ul.social
							li.social-vk
								a(class="social-vk__link vk_white" href="#")
							li.social-inst
								a(class="social-inst__link inst_white" href="#")
						a.btn.btn-question-white.btn-question-white_big.popup-with-move-anim.js-dialog_small(href='#med-dialog') задать вопрос
		.row
			.col
				.footer-bottom
					.inn
						.inn__title 000 “Рога и копыта”
						.inn__text
							p.inn__text-ogrn ОГРН 3142822563224
							p.inn__text-inn ИНН 06231998854
					.privacy
						a.privacy__policy Политика конфидициальности
						p.privacy__year Казань, 2013-2016