section.section.js-review
	.review
		.container
			.row
				.col
					.section-title.review-title
						h2.section-title-text 
							| отзывы о нашей работе
			.row.justify-content-center
				.col-xl-10
					.slider-review.js-slider-review
						.slider-content
							.row
								.col-md-5
									.mini-slider
											div(class=`js-mini-slider`)
													each slide in ['1', '2', '3', '4']
														.mini-slider-container
															img(class='mini-slider__img' src=`img/slider/minislide${slide}.jpg`, alt="Виды жалюзи.")
								.col-md-7
									.our-client
										.our-client__foto
											img(src="img/client/client.png", alt="Наш клиент")
										.our-client__data
											span.our-client__data-name Марина забелина
											span.our-client__data-mail
												a(href = "javascript:void(0);") 
													| vk.com/id29949499
										.our-client__audio
											+audio
										.our-client__text
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
						.slider-content
							.row
								.col-md-5
									.mini-slider
											div(class=`js-mini-slider`)
													each slide in ['1', '2', '3', '4']
														.mini-slider-container
															img(class='mini-slider__img' src=`img/slider/minislide${slide}.jpg`, alt="Виды жалюзи.")
								.col-md-7
									.our-client
										.our-client__foto
											img(src="img/client/client.png", alt="Наш клиент")
										.our-client__data
											span.our-client__data-name Марина забелина
											span.our-client__data-mail
												a(href = "javascript:void(0);") 
													| vk.com/id29949499
										.our-client__audio
											+audio
										.our-client__text
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
						.slider-content
							.row
								.col-md-5
									.mini-slider
											div(class=`js-mini-slider`)
													each slide in ['1', '2', '3', '4']
														.mini-slider-container
															img(class='mini-slider__img' src=`img/slider/minislide${slide}.jpg`, alt="Виды жалюзи.")
								.col-md-7
									.our-client
										.our-client__foto
											img(src="img/client/client.png", alt="Наш клиент")
										.our-client__data
											span.our-client__data-name Марина забелина
											span.our-client__data-mail
												a(href = "javascript:void(0);") 
													| vk.com/id29949499
										.our-client__audio
											+audio
										.our-client__text
											| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 