section.section.stock.js-stock
	.container
		.row.align-items-center
			.col-sm-5.col-md-6.col-lg-3
				.gift
					<img src="img/i/gift.svg" alt="image description">
			.col-sm-7.col-md-6.col-lg-9
				.order-stock
					h4.order-stock__text АКЦИЯ
					h3.order-stock__title закажите установку жалюзи до 29.06.2016
					p.order-stock__paragraf И получите в подарок москитную сетку для окна
				.form-stock-wrapp
					+form('form-stock','заказать жалюзи', 'w100')





